.container-post .block-content {
    background: $color-primary-l !important;
}


.blog {
    min-height: 600px;
    height: auto;
    padding: 2%;
  
    .wrap-posts { 
        height: auto;
        padding: 2%;
        background: white;
        margin: 2% 0;    
                
        .post {            
            border-bottom: 1px solid $color-secondary;
            margin: 5% 0;
            padding-bottom: 5px;
            height: 320px;
            
            .media {
                
                height: 80%;
                
                .post-banner {
                    background-position: 50% 50% !important;
                    height: 100%;
                }
                
                a img.home {
                    min-width: 350px;
                    min-height: 350px;
                }
            }
              
            .sidebar {
                margin-bottom: 0;
                position: relative;
                height: 80%;
                
                .date {
                    @include rounded(100px);
                    background: $color-secondary;
                    position: absolute;
                    top: 0;
                    text-align: center;
                    padding: 1em;
                    right: 5%;
                    @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );  
                    
                    &:hover {
                        background: darken( $color-secondary, 5% );
                    }
                    
                    .day {
                        font-family: aller-bold;
                        font-size: 2em;
                        color: $color-primary-text-d;
                    }
                    
                    .month {
                        font-family: amble-regular;
                        color: $color-primary-l;
                    }
                }
                
                .comment {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: $color-primary;
                    color: $color-secondary-d;
                    padding: 1em 2em;
                    @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    
                    &:hover {
                        background: darken( $color-primary, 5% );
                    }
                    
                    p {
                        color: $color-secondary-d;
                        font-size: $font-size-5;
                    }
                    
                    .cmti {
                        color: $color-secondary-d;
                        margin: 2% 0;
                    }
                }
            } 
            
            .module-container {
                position: relative;
            }
        }
        
        .media {
            position: relative;
            overflow: hidden;
            
            &:hover, &.hover {
              
                .hover-content {
                    margin-bottom: 0;
                }
            }
            
            .hover-content {
                position: absolute;
                bottom: 0; 
                background: $color-transparent-black;
                margin-bottom: -100%;
                @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                
                .avatar {
                    border-radius: 10em;
                    height: 39px; 
                    position: relative;
                    top: -4px;
                    width: 39px;
                    z-index: 10;
                }
                
                .author {
                    position: absolute;
                    top: 0;
                    right: 2%;
                    font-size: 0.8em;
                    margin: 4px 0; 
                    font-size: $font-size-8;
                    
                    .name {
                        color: $color-primary-l;
                    }
                }
                
                .icon {
                    background: $color-primary-l;
                    color: $color-secondary;
                    font-size: $font-size-1;
                    padding: 1% 2%; 
                    border-radius: 20%;  
                    margin-top: -4% !important;
                } 
                
                p {
                    font-family: amble-light;
                    color: $color-primary-l;
                    text-shadow: 1px 1px #000000;
                    margin: 3% 0;
                    font-size: $font-size-5;
                }
                
                .btn {
                    background: $color-button;
                    font-family: aller-regular;
                    width:25%;  
                    @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    
                    &:hover {
                        background: darken( $color-button, 10% );
                    }
                }
            }  
        }
    } 
    
     #sidebar, #wrap-comment {
      
        form {          
            
            
            
            &#search {
              padding: 0.5em 1em;
            }
              
            background: $color-primary-l;
               
            input[type="text"] {
                background: $color-primary;  
            }
          
            .button {
                width: 15%;  
                
                button {
                    background: $color-secondary;
                    color: $color-primary-l;
                    @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    
                    &:hover {
                      background: darken( $color-secondary, 10% );
                    }
                }
            }
        }
        
        .wrap-sidebar-posts, .wrap-comments {
            margin: 0 0 1em 0;
            min-height: 10px;
            padding: 1em;
            background: white;
          
            .title-medium a, .title-medium {
                border-bottom: 1px solid $color-secondary;
                padding-bottom: 1em;
            }
             
            .sidebar-post, .comment {
                padding: 1em 0;
                display: block;
                border-bottom: 1px solid silver;
                
                &.comment {
                  
                    border-color: $color-secondary;
                    
                    .media {
                         background: snow;
                         font-size: 4em;
                    } 
                }
                
                &:hover .content p {
                    color: $color-secondary;
                } 
                
                .content {
                    position: relative;
                    
                    p, .comment-user, .comment-date {
                        color: $color-primary-text;
                        font-family: amble-light;
                        font-size: $font-size-8;
                        line-height: 1.5em;
                        @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    }  
                } 
                
                .sidebar-media, .media {
                    text-align: center;
                }
            }
        }       
    
    } 
    
    .post-single {
      
        .title-medium, .title-medium a {
            color: $color-primary-text-d !important;
        }
        
        .post-content {
            color: $color-primary-text !important;
            margin-top: 20px;
        }
        
        #sidebar {
            #search, .wrap-sidebar-posts {
                box-shadow: 1px 1px 3px $color-primary;
            }
        }
    }    
}

@include responsive-max( screen-tablet-large ) {
   
     .blog { 
       
        .wrap-posts { 
          
            .post {
                .hover-content {
                    margin-bottom: 0;
                }
            } 
        }
        
        .content-80 {
            padding: 0 !important;
        }
        
        #sidebar {
            width: 100%;
        }
    } 
}  

@include responsive-max( screen-mobile-large ) {
  
    .wrap-posts {
        
        .post {
            
            margin-bottom: 20% !important;
            
            &, .sidebar, .media {
                width: 100%;
            }
            
            .hover-content {
                .btn {
                    width: 80% !important;
                }
                
                .author {
                    position: relative !important;
                    display: block !important;                    
                }    
            }
            
            .wrap-post-title {
                width: 100%;
            }
               
            .sidebar {
                height: 60px !important;
                
                .date {
                    border-radius: 0px !important;
                    position: relative;
                    width: 40%;
                    left: 0;
                    height: 60px;
                }
                
                .comment {
                    position: relative !important;
                    height: 60px;
                    width: 60%;
                    float: right;
                    padding: 1em;
                }
            }  
        }
    }      
}