.block {

    .block-wrap-content {
          margin-top: 75px;
    }

    @include responsive-min( screen-tablet-large ) {

        .block-wrap-content {
            margin-top: 90px;
        }
    }
}

#block-banner {
    height: 250px;

    @include responsive-min( screen-tablet-large ) {
        height: 540px;
    }
}

#block-public {
    padding: 2em 0;

    .block-wrap-content {
        background-color: $color-secondary;
        color: $color-secondary-text;
        padding: 1em;
        width: 400px;

        a {
            color: $color-secondary-text;
        }

        .help-block {
            color: $color-error;
        }
    }

    @include responsive-max( screen-mobile-large ) {

        .block-wrap-content {
            background-color: $color-transparent-tertiary;
            width: 90%;
        }
    }

    @include responsive-min( screen-desktop-large ) {

        .block-wrap-content {
            margin-top: 0;
            @include valign-center;
        }
    }
}

#block-page {
    padding: 2em 0;

    .block-content {
        background-color: $color-secondary;
        color: $color-secondary-text;
        padding: 1em;
        width: 80%;
        margin: 0 auto;

        a {
            color: $color-secondary-text;
        }
    }

    @include responsive-max( screen-mobile-large ) {

        .block-content {
            background-color: $color-transparent-tertiary;
            width: 90%;
        }
    }
}