.footer-main {
    padding: 2em;
    min-height: 250px;
    background-color: $color-secondary-d;

    .footer-title {
        font-family: $font-default;
        font-size: 1.2em;
        color: $color-tertiary-text;
        @include border-bottom( $size-default, solid, $color-secondary );
    }

    ul li {
        margin: 10px auto;
    }

    a {
        font-family: $font-default;
        color: $color-success;
    }

    ul li:hover a {
      color: $color-primary;
    }

    .social-icon-footer {
        text-align: right;
    }

    ul.social-icon-footer li {
        display: inline-block; 
        color: $color-tertiary-text;
        width: auto;
        margin: 0px 5px;
        cursor: pointer;
        @include transit-color( $transit-eio, $transit-time-small );

        &:hover {
            color: $color-secondary;
        }
    }

    @include responsive-max( screen-tablet-large ) {

        .footer-title, ul li {
            text-align: center;
        }

        .social-icon-footer {
            float: none;
            text-align: center;
        }
    }
}

.footer-copyright {
    background-color: $color-black;
    color: $color-secondary-text;

    a {
        font-family: $font-default;
        color: $color-success;
    }
}