#header-main {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: $color-primary-l;
    padding: 1em;

    .logo {
        width: 80px;
    }

    #nav-mobile-icon {
        margin: 1em;
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-main {
        display: none;
    }

    @include responsive-min( screen-tablet-large ) {

        .logo {
            width: 120px;
        }

        #nav-mobile-icon {
            display: none;
        }

        .nav-main {
            display: block;
        }
    }
}

.header-small {
    padding: 0.5em 1em;

    .logo {
        width: 80px;
    }
}