.nav {
    display: block;
    
    li {
        display: inline-block;
    
        a {
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
        }
    }
}

.nav-main {
    margin: 1em 0;
    right: 10%;

    ul {
        text-align: right;
        height: 100%;

        li {
            height: 100%;
            padding-left: 2em;

            &.active, &:hover {

                a {
                    border-bottom: 2px solid $color-secondary;
                }
            }
        }
    }
}

.nav-mobile {
    position: absolute;
    top: 65px;
    left: -180px;
    width: 180px;
    padding: 1em;
    background-color: $color-secondary;
    @include transit-all( $transit-eio, $transit-time-medium );

    &.active {
        left: 0px;
    }

    li {
        width: 100%;
        text-align: center;
        padding: 1em;

        a {
            display: inline-block;
            width: 100%;
        }

        &.active, &:hover {
            background-color: $color-primary;

            a {
                color: $color-primary-text;
            }
        }
    }
}

.cmg-stick-menu {
    background: $color-secondary-text-d;
    bottom: 0;
    padding: 5%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 999;
    left: -700px;
    
    ul {
      
        li {
            margin: 10% 0;
            
            a {
                color: white;
                @include transit-color( $transit-eio, $transit-time-small, $delay: 0s );
                
                &:not(.fa) {
                    font-family: aller-regular;
                }   

                &:hover {
                    color: darken( white, 20% );
                }
            }
            
            &.menu-close {
                text-align: right;
                font-size: $font-size-1;   
            }   
        }
    }
}