.popout-header {
    position: absolute;
    width: 98%;
    background-color: $color-tertiary;
    padding: 1%;

    a, .warning {
        color: $color-tertiary-text;
    }

    @include responsive-min( screen-mobile-large ) {
        right: 0;
        width: 250px;
    }

    @include responsive-min( screen-tablet-large ) {
        right: 10%;
    }
}

#wrap-login-register, #box-signup, #box-settings {
    display: none;
}