.popout-header {
    position: absolute;
    width: 180px;
    background-color: $color-primary;
    padding: 1em;

    a, .warning {
        color: $color-primary-text;
    }

    @include responsive-max( screen-tablet-large ) {
        left: 0px;
        top: 65px;
        width: 100%;
    }

    @include responsive-min( screen-tablet-large ) {
        right: 10%;
        top: 95px;
    }
}

#wrap-login-register, #box-signup, #box-settings {
    display: none;
}